@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body { 
	margin: 0; 
	padding: 0; 
	font: 1em 'Maven Pro', sans-serif;
	font-size: 100%;
	line-height: 1.6;
	background: #f1f1f5;
}

div.container { 
	margin: auto; 
	width: 80%;
}

h1 {
	text-shadow: 0 1px 0 #eee;
	
}
ul.tabNavigation {
    list-style: none;
    margin: 0 0 -1px 25px;
	padding: 0;
	line-height: normal;
}

ul.tabNavigation li {
    display: inline;
	margin: 0;
}

ul.tabNavigation li a {
	display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #f2f2f7;
    color: #000;
    text-decoration: none;
	border: 1px solid #ccccd3;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	transition: all ease 0.25s;
}

ul.tabNavigation li a:hover {
	background-color: #e4e4ea;
	transform: scale(1.05);
}	

ul.tabNavigation li a.selected {
    background-color: #FFF;
    color: #333;
	border-bottom: 1px solid #FFF;
	z-index: 20;
    position: relative;
}
	
ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs > div {
	position: relative;

	padding: 80px;
	border: 1px solid #ccccd3;
    background-color: #FFF;
	border-radius: 4px;

	overflow: hidden;
}

div.tabs > div .wrapper {
	transform: translateX(-50px);
	opacity: 0;
}

div.tabs > div h2 {
	margin-top: 0;
}
		
.waste {
	min-height: 1000px;
}
